<script id="textfield-template" type="text/x-handlebars-template">
<label class="col-sm-2 control-label" for="labelType">{{labelType}}</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="labelType" name="labelType" placeholder={{labelType}}>
    </div>
</script>